.losb-link {
	display: block;
	font-size: 13px;
	font-style: normal;
	padding: 2px 0;
	line-height: 16px;
	text-decoration: none;
	color: gray;
	transition: 0.3s;
}
.losb-link:hover { color: black; }
.losb-menu-result {
	display: inline-grid;
	width: auto;
	padding-right: 20px;
	white-space: normal;
}
.losb-content-sub { height: 0px; overflow: hidden; }
.losb-content-sub.active {height: auto; overflow: auto;  }
.losb-menu-element-sub {
	display: block;
	font-size: 13px;
	font-style: normal;
	padding: 2px 0;
	line-height: 16px;
	cursor: pointer;
	color: gray;
	transition: 0.3s;
}
.losb-content-sub {
	font-size: 13px;
	font-style: normal;
	line-height: 16px;
	cursor: pointer;
	color: gray;
	transition: 0.3s;
}
.losb-menu-element-sub:hover, .losb-content-sub { color: black; }
.losb-menu-element-sub.active {
	color: black;
	border-right: 2px solid black;
}
.losb-content-level-basic { padding-left: 3px; }
.losb-content-level-left {
	display: inline-grid;
	width: 175px;
	padding-left: 3px;
	vertical-align: top;
	border-right: 1px solid lightgray;
}
.losb-content-level-right { padding-left: 10px; }
.losb-content-level-left, .losb-content-level-right { display: inline-grid; }
.losb-menu {
	margin: 0 0 24px;
	padding: 0;
	padding-top: 10px;
	list-style-type: none;
}
.losb-menu-element {
	border-radius: 3px;
	z-index: 1;
	position: relative;
	height: 24px;
	border: 1px solid #888;
	color: #888;
	background-color: #fff;
	display: inline-grid;
	margin: 0;
	padding: 0 15px;
	line-height: 24px;
	font-size: 13px;
	margin-left: 0px;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
}
.losb-menu-element.active {
	background: gray;
	color: white;
}
.losb-content-sub { font-size: 14px; }
.losb-title {
	margin: 24px 0 12px;
	padding: 0;
	line-height: 28px;
	font-weight: 500;
	font-size: 24px;
}
.losb-content { height: 0px; overflow: hidden; }
.losb-content.active { height: auto; overflow: auto;  }
